@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    body {
        background-color: #E5ECE9;
    }
    
    
    footer {
        min-width: 100vw;
    }
    header {
        background-color: #E5ECE9;
        min-height: 50px;
        padding: 1rem;
    }
    hr {
        color: black;
        height: 2px;
    }

}
@layer utilities {
    .foot {
        padding-left: 10px;
        background-color: #9984D4;
    }
    .showcase {
        font-family: 'Playfair Display', serif;

    } 
    .hero {
        min-height: calc(100vh - 66px);
    }


}