@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@layer base {
    
    body {
        background-color: #E5ECE9;
    }
    
    
    footer {
        position: relative;
        min-width: 100vw;
    }
    header {
        min-width: 100vh;
        min-height: 50px;
        padding: 1rem;
    }
}
@layer utilities {
    .foot {
        padding-left: 10px;
        background-color: #9984D4;
        position: absolute;
        bottom: 0;
    }
    .showcase {
        font-family: 'Playfair Display', serif;

    } 

}