@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    body {
        background-color: #E5ECE9;
    }
    
    
    footer {
        min-width: 100vw;
    }
    header {
        background-color: #E5ECE9;
        min-height: 50px;
        padding: 1rem;
    }

    }
    a:any-link {
        scale: 1.2;
    }




@layer utilities {
    .foot {
        padding-left: 10px;
        background-color: #9984D4;
    }
    .showcase {
        font-family: 'Playfair Display', serif;

    } 
    .hero {
        min-height: calc(100vh - 66px);
    }
    .code {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .image {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        grid-template-areas:
        "tw tw cs"
        "ht ht ht"

        

    }
    .tw {
        grid-area: tw;
    }
    .cs {
        grid-area: cs;
    }
    .ht {
        grid-area: ht;
    }
    

}